<div class="row" style="margin-top: 2em;">
  <div class="col-md-3">
    <h3>Files</h3>
  </div>
  <div class="col-md-9">
    <label class="control-label" for="files">Files</label>
    <span class="help-block">You can add MS Office and txt files, PDFs, GPS data files or ZIP files.</span>
    <hr data-ng-show="vm2.parent.files_array.length"/>
    <div sv-root sv-part="vm2.parent.files_array">
    <div data-ng-repeat="(key, file) in vm2.parent.files_array track by key">
      <div class="progress" ng-show="file.server_filename == ''">
        <div class="progress-bar" role="progressbar" style="min-width: 2em;  width: {{ file.progress }}%;">
          {{ file.progress }}%
        </div>
      </div>
      <div class="media" sv-element ng-show="file.server_filename != ''">
        <div class="media-left media-middle">
          <img class="media-object" ng-src="{{ file.typeimg }}" />
        </div>
        <div class="media-body">
        <h5 class="media-heading">{{ file.filename }}</h5>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Description" data-ng-model="file.description" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" sv-handle><span class="glyphicon glyphicon-sort" aria-hidden="true"></button>
              <button data-ng-click="vm2.deleteFile(key)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </span>
        </div>
        </div>
      </div>
    </div>

    <hr data-ng-show="vm2.parent.files_array.length"/>
    </div>
    <div class="btn btn-default" ngf-select="uploadFiles($files)" ngf-keep="distinct" multiple="multiple">
        <i class="glyphicon glyphicon-file"></i> Upload Files
      </div>
  </div>
</div>