<div class="row" style="margin-top: 2em;">
  <div class="col-md-3">
    <h3>Friends</h3>
  </div>
  <div class="col-md-9">
    <label class="control-label" for="links">Friends</label>
    <span class="help-block">Tag the friends you travel with</span>
        <input type="text" class="form-control friend-search" placeholder="Search friends by name or email" ng-model="search_friend">
        <div ng-repeat="(key, value) in friends">
        <div class="user-block">
          <img ng-src="./modules/users/client/img/profile/uploads/{{value._id}}" class="circular-friend" />
         {{ value.displayName }}
         <button class="btn btn-default btn-xs" ng-click="addFriend(value._id)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
        </div>
        <div ng-repeat="(key, value) in selected_friends">
          <div class="user-block">
            <img ng-src="./modules/users/client/img/profile/uploads/{{value._id}}" class="circular-friend" />
            {{ value.displayName }}
            <button class="btn btn-default btn-xs" ng-click="deleteFriend(key)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
  </div>
</div>