<div class="row" style="margin-top: 2em;">
  <div class="col-md-3">
    <h3>General details</h3>
  </div>
  <div class="col-md-9">

  <label class="control-label" for="title">Start date</label>
  <div class="row">
    <div class="col-md-3">
      <span class="help-block">Month</span>
      <div class="controls">
        <select class="form-control" ng-options="item as item.label for item in months track by item.id" ng-model="selected_month"></select>

      </div>
    </div>
    <div class="col-md-3">
      <span class="help-block">Year</span>
      <div class="controls">
        <select class="form-control" ng-options="item as item.year for item in years track by item.year" ng-model="selected_year"></select>

      </div>
    </div>
  </div>
  <hr />

  <label class="control-label" for="title">Duration</label>
  <div class="row">
    <div class="col-md-3">
      <div class="controls">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="0" aria-describedby="days" ng-model="trip_client.tripDurationDays">
          <span class="input-group-addon" id="days">Days</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="controls">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="0" aria-describedby="days" ng-model="trip_client.tripDurationMonths">
          <span class="input-group-addon" id="days">Months</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <label class="control-label" for="title">Activities</label>
  <div class="row">
    <div class="col-md-12">
      <span class="help-block">Select related activities</span>
      <div class="controls">
        <div>
          <label class="checkbox-inline" for="{{activity._id}}" ng-repeat="activity in activities">
            <input type="checkbox" ng-model="selected_activities.ids[activity._id]" name="group" id="{{activity._id}}" />
            {{ activity.title }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <label class="control-label" for="title">Places</label>
  <div class="row">
    <div class="col-md-12">
      <span class="help-block">Choose one or more places</span>
      <div class="place-block">
        <div ng-repeat="(key, optionsArray) in placesBlocks">
          <div ng-repeat="(key2, selectPlace) in optionsArray">
            <select class="form-control place-select" ng-model="selectedArray[key][key2]" ng-options="place._id as place.name for place in selectPlace.places" ng-change="placeChanged(key, key2)"></select>
          </div>
          <input type="text" data-ng-model="newPlacesArray[key].name" ng-show="newPlacesArray[key].show" class="form-control place-select" placeholder="Region name" />
          <button data-ng-click="deletePlaceBlock(key)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <hr />
        </div>
      </div>
      <button class="btn btn-default" ng-click="addPlaceBlock()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add place</button>
    </div>
  </div>
  </div>
</div>
