<div class="row" style="margin-top: 2em;">
  <div class="col-md-3">
    <h3>Links</h3>
  </div>
  <div class="col-md-9">
    <label class="control-label" for="links">Links</label>
    <span class="help-block">For that odd bit of advice that makes all the difference</span>
    {{ vm.trip_client.links }}
    <hr data-ng-show="vm2.parent.trip_client.links.length"/>
    <div sv-root sv-part="vm2.parent.trip_client.links">
    <div data-ng-repeat="(key, link) in vm2.parent.trip_client.links track by key" sv-element>
      <div class="input-group">
        <input type="text" name="link{{key}}" data-ng-model="link.description" class="form-control" placeholder="Description" />
        <input type="text" name="link{{key}}" data-ng-model="link.url" class="form-control" placeholder="URL" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" sv-handle><span class="glyphicon glyphicon-sort" aria-hidden="true"></button>
          <button data-ng-click="vm2.deleteLink(key)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </span>
      </div>
      <hr />
    </div>

    </div>
    <button class="btn btn-default" ng-click="vm2.addLink()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add link</button>
  </div>
</div>