<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h1>{{ trip_client.title }}</h1>
    <p class="lead">{{ trip_client.subtitle }}</p>

    <h3>Contents</h3>
    <ul data-ng-repeat="(key, chapter) in trip_client.chapters track by key">
      <li>{{ chapter.title }}</li>          
    </ul>

    <leaflet height="400px" defaults="vm2.leaflet.defaults" center="vm2.leaflet.center" event-broadcast="vm2.leaflet.events"></leaflet>

    <div data-ng-repeat="(key, chapter) in trip_client.chapters track by key">
      <h3>{{ chapter.title }}</h3>
      <p style="white-space:pre-wrap;">{{chapter.body}}</p>
    </div>

    <h3 ng-show="trip_client.tips.length">Tips</h3>
    <ul data-ng-repeat="(key, tip) in trip_client.tips track by key">
      <li>{{ tip.body }}</li>         
    </ul>
  </div>
  <div class="col-md-3">
            
  </div>
</div>