<div class="row" style="margin-top: 2em;">
  <div class="col-md-3">
    <h3>Tips</h3>
  </div>
  <div class="col-md-9">
    <label class="control-label" for="tips">Tips</label>
    <span class="help-block">For that odd bit of advice that makes all the difference</span>
    {{ vm.trip_client.tips }}
    <hr data-ng-show="vm2.parent.trip_client.tips.length"/>
    <div sv-root sv-part="vm2.parent.trip_client.tips">
    <div data-ng-repeat="(key, tip) in vm2.parent.trip_client.tips track by key" sv-element>
      <div class="input-group">
        <textarea name="tip{{key}}" data-ng-model="tip.body" class="form-control" msd-elastic="\n"></textarea>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" sv-handle><span class="glyphicon glyphicon-sort" aria-hidden="true"></button>
          <button data-ng-click="vm2.deleteTip(key)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </span>
      </div>
      <hr />
    </div>
    </div>
    <button class="btn btn-default" ng-click="vm2.addTip()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add tip</button>
  </div>
</div>