<div class="row" style="margin-top: 2em;">
	<div class="col-md-3">
		<h3>Titles</h3>
	</div>
	<div class="col-md-9">
		<label class="control-label" for="title">Title</label>
		<span class="help-block">We recommend that you state the trip destination in the title</span>
		<input type="text" ng-model="trip_client.title" id="title" class="form-control" placeholder="Title">

		<hr />

		<label class="control-label" for="title">Subtitle</label>
		<span class="help-block">A short description of the trip</span>
		<textarea ng-model="trip_client.subtitle" class="form-control" msd-elastic="\n"></textarea>
	</div>
</div>