<section>
  <div class="page-header">
    <div class="row" style="margin-top: -20px;">
      <div class="col-md-8">
        <h1 class="pull-left">Trip editor</h1>
        <span class="save-console pull-left" ng-show="!vm.previewBtn.state" style="margin: 33px 0 0 20px;">{{ vm.saveConsole }}</span>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
          <div class="pull-right">
            <div dropdown class="editor-main-drop-down">
              <button class="btn btn-default" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem"><a href="#">Help</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#" ng-click="deleteTrip()"><span class="glyphicon glyphicon-trash right-margin" aria-hidden="true"></span> Delete Draft</a></li>
              </ul>
            </div>
            <button class="btn btn-default" ng-click="vm.togglePreview()">
              <span class="glyphicon glyphicon-{{ vm.previewBtn.icon }} right-margin" aria-hidden="true"></span> {{ vm.previewBtn.label }}
            </button>
            <button class="btn btn-primary" ng-click="publish()">
              <span class="glyphicon glyphicon-send right-margin" aria-hidden="true"></span> Publish
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <ul class="nav nav-tabs" ng-show="!vm.previewBtn.state">
        <li ui-sref-active="active"><a ui-sref="editor.titles">Titles</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.general-details">General details</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.chapters({ chapterId: lastEditedChapter })">Chapters</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.map"><i class="glyphicon glyphicon-map-marker"></i> Map</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.links"><i class="glyphicon glyphicon-link"></i> Links</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.files"><i class="glyphicon glyphicon-paperclip"></i> Files</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.tips"><i class="glyphicon glyphicon-list"></i> Tips</a></li>
        <li ui-sref-active="active"><a ui-sref="editor.friends"><i class="glyphicon glyphicon-user"></i> Friends</a></li>
      </ul>
    </div>
  </div>
  <ui-view></ui-view>
</section>