{% extends 'layout.server.view.html' %}

{% block content %}

{% raw %}

<section>
	<div style="text-align: center; margin-top: 40px;">

		<ol class="breadcrumb" style="background-color: #fff !important;" ng-repeat="(key, value) in vm.trip.places">
			<li ng-repeat="(key, value2) in value.place"><a href="#">{{ value2.name }}</a></li>
		</ol>

		<h1 ng-bind="vm.trip.title"></h1>
		<small>
			<em class="text-muted">
				Posted on
				<span ng-bind="vm.trip.created | date:'mediumDate'"></span>
				by
				<a href="#" ng-if="vm.trip.user" ng-bind="vm.trip.user.displayName"></a>
				<span ng-if="!vm.trip.user">Deleted User</span>
			</em>
		</small>
		<h3 ng-bind="vm.trip.subtitle"></h3>
		<!-- <a href="#"><img style="margin-bottom:0px; margin-top: 30px;" src="modules/core/client/img/ad.png"></a> -->
	</div>
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Trip info</div>
				<!-- List group -->
				<div class="list-group">
					<div href="#" class="list-group-item">
						<h5 class="list-group-item-heading"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date</h5>
						<p class="list-group-item-text">May 2013</p>
					</div>
					<div href="#" class="list-group-item">
						<h5 class="list-group-item-heading"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Duration</h5>
						<p class="list-group-item-text">4 days</p>
					</div>
					<div href="#" class="list-group-item">
						<h5 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Best time of year</h5>
						<p class="list-group-item-text">May - October</p>
					</div>
				</div>
			</div>
			<!--
			<div style="text-align: center; margin-top: 50px;">
				<img style="" src="modules/core/client/img/ad2.jpg">
			</div>
			-->
		</div>
		<div class="col-md-6">
			<img style="display: none; border-radius: 4px; width: 100%; margin-bottom: 20px;" ng-src="http://s3-us-west-2.amazonaws.com/triptip-files/1200_800/{{vm.trip.themeImage}}">
			<div class="panel panel-default">
				<div class="panel-body" style="padding: 5px;">
					<leaflet id="map1" height="450px" geojson="geojson" defaults="vm.leaflet.defaults"></leaflet>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="(key, feature) in vm.trip.map" ng-if="feature.geometry.type == 'LineString'">
					<span class="glyphicon glyphicon-minus" style="color: {{ feature.properties.color }};" aria-hidden="true"></span>
					 {{ feature.properties.description ? feature.properties.description : 'Route' }}
					<span class="pull-right">
						<button class="btn btn-xs btn-default" ng-click="centerOnPath(key)" style="outline: none;">
							<span class="glyphicon glyphicon-eye-open" style="color: {{ feature.properties.color }};"></span>
						</button>
						<button class="btn btn-xs btn-default" ng-click="showGraph(key)" style="outline: none;">
							<span class="glyphicon glyphicon-stats" style="color: {{ key == shownGraph ? 'black' : 'gray' }};"></span>
						</button>
					</span>
					</li>
				</ul>
			</div>

			<!-- chapters -->
			<div ng-repeat="(key, value) in vm.trip.chapters">
				<h3 ng-bind="value.title"></h3>
				<p ng-bind="value.body"></p>
				<!-- gallery -->
				<div class="row">
					<div ng-repeat="(key, value) in value.images" class="col-xs-6 col-md-4">
					<a href="#" class="thumbnail">
						<img ng-src="http://s3-us-west-2.amazonaws.com/triptip-files/400_300/{{value.file}}" alt="{{ value.description }}">
					</a>
					</div>
				</div>
			</div>

			<!-- tips -->
			<h3 ng-show="vm.trip.tips.length">Tips</h3>
			<ul>
				<li ng-repeat="(key, value) in vm.trip.tips" ng-bind="value.body"></li>
			</ul>

			<!-- files -->
			<h3 ng-show="vm.trip.files.length">Attached files</h3>
			<ul>
				<li ng-repeat="(key, value) in vm.trip.files">
					<a ng-href="http://s3-us-west-2.amazonaws.com/triptip-files/{{ value.file }}">{{ value.description }}</a>
				</li>
			</ul>

			<!-- links -->
			<h3 ng-show="vm.trip.links.length">Links</h3>
			<ul>
				<li ng-repeat="(key, value) in vm.trip.links">
					<a ng-href="{{ value.url }}">{{ value.description }}</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-heading">Tools</div>
			  <div class="panel-body">
			  	<ul class="nav nav-pills nav-stacked">
			  		<li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmark to read later</a></li>
			  		<li><a href="#"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Download as PDF</a></li>
			  		<li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Save map data</a></li>
			  		<li><a href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Printable version</a></li>
			  	</ul>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">Share this trip</div>
			  <div class="panel-body">
			  	<ul class="nav nav-pills nav-stacked">
			  		<li><a href="#">Share on Facebook</a></li>
			  		<li><a href="#">Share on Google+</a></li>
			  		<li><a href="#">Send as E-Mail</a></li>
			  	</ul>
			  </div>
			</div>
		</div>
	</div>

</section>


{% raw %}

{% endblock %}