<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li><a ui-sref="admin.places">Places</a></li>
      <li class="active">{{vm.place._id ? 'Edit Place' : 'New Place'}}</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <h1>{{vm.place._id ? 'Edit Place' : 'New Place'}}</h1>
      </div>
      <div class="col-md-8" style="margin-top: 2em">
        <div class="pull-right" ng-show="vm.place._id">
          <a class="btn btn-danger" ng-click="vm.remove()" ng-show="vm.place.name != 'The World'">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form name="vm.form.placeForm" class="form-horizontal" ng-submit="vm.save(vm.form.placeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.place.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.placeForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Place name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="alternativeNames">Alternative Names</label>
          <textarea name="alternativeNames" data-ng-model="vm.place.alternativeNames" id="alternativeNames" class="form-control" cols="20" rows="2" placeholder="Name, Name, ..."></textarea>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.place.approval"> Approved
          </label>
        </div>

        <div class="form-group">
          <label class="control-label">Places</label>
          <div ng-controller="SelectPlaceController as vm2">
            <div ng-repeat="(key, optionsArray) in placesBlocks">
              <div ng-repeat="(key2, selectPlace) in optionsArray track by key2">
                <select class="form-control place-select" ng-model="selectedArray[key2]" ng-options="place._id as place.name for place in selectPlace.places" ng-change="placeChanged(key, key2)"></select>
              </div>
              <input type="text" data-ng-model="newPlacesArray[key].name" ng-show="newPlacesArray[key].show" class="form-control place-select" placeholder="Region name" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.place._id ? 'Update' : 'Create'}}</button>
          <button ui-sref="admin.places" class="btn btn-link">Cancel</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>