<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li>Places</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <h1>Places</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <div class="pull-right">
          <a class="btn btn-primary" ui-sref="admin.places-create">
            <i class="glyphicon glyphicon-plus"></i> Add place
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="place in pagedItems" ui-sref="admin.place-edit({placeId: place._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="place.name"></h4>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
