<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li ng-repeat="parent in vm.place.parents"><a ui-sref="places.view({ placeId: parent._id })">{{ parent.name }}</a></li>
      <li>{{ vm.place.name }}</li>
    </ol>
    <div class="row">
      <div class="col-md-3">
        <h1 ng-bind="vm.place.name"></h1>
      </div>
      <div class="col-md-9" style="margin-top: 2em">

      </div>
    </div>
  </div>

  <!-- General info --> 
  <div>
    <div class="row">
      <div class="col-md-3">
        <h3>General info</h3>
      </div>
      <div class="col-md-9">
        <div ng-show="place.description">
          <p>{{ place.description }}</p>
          <hr />
        </div>
        <div ng-show="vm.childs">
          <h4>Destinations in {{ vm.place.name }}</h4>
          <ul>
            <li ng-repeat="child in (vm.childs | filter: { trips: [] }: true)"><a ui-sref="places.view({ placeId: child._id })">{{ child.name }} [{{ child.trips.length }}]</a></li>
          </ul>
        </div>
        <div ng-show="vm.childs">
          <hr />
          <h4>Activities in {{ vm.place.name }}</h4>
          <ul>
            <li ng-repeat="child in (vm.childs | filter: { trips: [] }: true)"><a ui-sref="places.view({ placeId: child._id })">{{ child.name }} [{{ child.trips.length }}]</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Best season -->
  <div ng-show="place.bestSeason">
    <hr />
    <div class="row">
      <div class="col-md-3">
        <h3>Best season</h3>
      </div>
      <div class="col-md-9">
      <p>{{ place.bestSeason }}</p>
      </div>
    </div>
  </div>

  <!-- Trips map -->
  <div>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <h3>Trips map</h3>
      </div>
      <div class="col-md-9">
        <leaflet markers="vm.leaflet.markers" defaults="vm.leaflet.defaults" height="400px"></leaflet>
      </div>
    </div>
  </div>

  <!-- Trips slider start -->
  <div ng-repeat="child in (vm.childs | filter: { trips: [] }: true)">
    <hr />
  <div class="row">
    <div class="col-md-3">
      <h3>{{ child.name }}</h3>
      <a ui-sref="places.view({ placeId: child._id })">More trips in {{ child.name }} >></a>
    </div>
    <div ng-repeat-start="t in [0,1,2,3]"></div>
    <div class="col-md-2">
      <div class="" ng-show="child.trips[sliderPos[child._id] + t].title" style="min-height: 200px;">
        <a ui-sref="trips.view({ tripId: child.trips[sliderPos[child._id] + t]._id })">
          <img style="width: 100%;" ng-src="http://s3-us-west-2.amazonaws.com/triptip-files/200_150/{{ child.trips[sliderPos[child._id] + t].themeImage }}" />
          <h5>{{ child.trips[sliderPos[child._id] + t].title }}</h5>
        </a>
        <span>by <a href="">{{ child.trips[sliderPos[child._id] + t].user.displayName }}</a></span>
      </div>
    </div>
    <div ng-repeat-end=""></div>
    <div class="col-md-1">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-sm {{ sliderPos[child._id] > 0 ? '' : 'disabled' }}" ng-click="sliderPrev(child._id)">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm  {{ sliderPos[child._id] + 4 < tripsCount[child._id] ? '' : 'disabled' }}" ng-click="sliderNext(child._id)">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Trips slider end -->

</section>