<div class="container" ng-controller="FooterController as vm">
  <hr style="margin-top: 50px;" />
  <div class="row">
    <div class="col-md-3">
      <h5>© {{vm.date | date:'yyyy'}} Triptip</h5>
      <br />
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</div>
