<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li><a ui-sref="admin.trips">Trips</a></li>
      <li class="active">{{ vm.trip.title }}</li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <h1>{{ vm.trip.title }}</h1>
        <span>by {{ vm.trip.user.displayName }}</span>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form name="tripForm" class="form-horizontal" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="slug">Url slug</label>
          <input type="text" id="slug" name="slug" class="form-control" ng-model="vm.trip.slug" placeholder="" required />
        </div>
        <div class="form-group">
          <label for="radio">Theme image</label>
          <div ng-repeat="(key, value) in vm.trip.chapters">
            <div class="radio-inline" ng-repeat="(key, value) in value.images">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="vm.trip.themeImage" ng-value="value.file">
                <img ng-src="http://s3-us-west-2.amazonaws.com/triptip-files/200_150/{{ value.file }}" />
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div>
    <button class="btn btn-default" ng-click="save()">Save</button>
    <button class="btn btn-default" ui-sref="editor.titles({tripId: vm.trip._id})">Edit</button>
    <button class="btn btn-success" ng-click="publish()">{{ isPublished ?  'rePublish' : 'Publish' }}</button>
    <button class="btn btn-warning" ng-click="unpublish()" ng-show="isPublished">unPublish</button>
    <button class="btn btn-danger" ng-click="remove()">
      <i class="glyphicon glyphicon-trash"></i> Delete
    </button>
  </div>
</section>
