<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li>Trips</li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <h1>Trips</h1>
      </div>
    </div>
  </div>

  <h4>Waiting Approval</h4>
  <div class="list-group">
    <a ng-repeat="trip in waiting_approval_trips" ui-sref="admin.trip-edit({tripId: trip._id})" class="list-group-item">
      <h5 class="list-group-item-heading" ng-bind="trip.title"></h5>
    </a>
  </div>

  <h4>Drafts</h4>
  <div class="list-group">
    <a ng-repeat="trip in draft_trips" ui-sref="admin.trip-edit({tripId: trip._id})" class="list-group-item">
      <h5 class="list-group-item-heading" ng-bind="trip.title"></h5>
    </a>
  </div>

  <h4>Published</h4>
  <div class="list-group">
    <a ng-repeat="trip in approved_trips" ui-sref="admin.trip-edit({tripId: trip._id})" class="list-group-item">
      <h5 class="list-group-item-heading" ng-bind="trip.title"></h5>
    </a>
  </div>
</section>
