<section>
  <div class="page-header">
    <h1>Trips</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="trip in vm.trips" ui-sref="trips.view({ tripId: trip._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="trip.created | date:'mediumDate'"></span>
        by
        <span ng-if="trip.user" ng-bind="trip.user.displayName"></span>
        <span ng-if="!trip.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="trip.title"></h4>
      <p class="list-group-item-text" ng-bind="trip.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.trips.$resolved && !vm.trips.length">
    No trips yet, why don't you <a ui-sref="trips.create">create one</a>?
  </div>
</section>
