<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li><a ui-sref="admin.activities">Activities</a></li>
      <li class="active">{{vm.activity._id ? 'Edit Activity' : 'New Activity'}}</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <h1>{{vm.activity._id ? 'Edit Activity' : 'New Activity'}}</h1>
      </div>
      <div class="col-md-8" style="margin-top: 2em">
        <div class="pull-right" ng-show="vm.activity._id">
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form name="activityForm" class="form-horizontal" ng-submit="vm.save(activityForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" ng-model="vm.activity.title" placeholder="Title" required />
          <div ng-messages="activityForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.activity._id ? 'Update' : 'Create'}}</button>
          <button ui-sref="admin.activities" class="btn btn-link">Cancel</button>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
