<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li>Activities</li>
    </ol>
    <div class="row">
      <div class="col-md-4">
        <h1>Activities</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <div class="pull-right">
          <a class="btn btn-primary" ui-sref="admin.activities-create">
            <i class="glyphicon glyphicon-plus"></i> Add Activity
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="activity in pagedItems" ui-sref="admin.activity-edit({activityId: activity._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="activity.title"></h4>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
