.img-desc {
	margin-top: 4px;
	padding: 4px 4px !important;
	border: none;
	overflow: auto;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	resize: none;
}

.img-desc:focus {
	outline: none;
}

.delete-image-btn {
	position: absolute;
	top: 0px;
	right: 15px;
}

.add-chatper {
	margin-top: 20px;
}

.editor-main-drop-down {
	display: inline-block;
}

.user-block {
	float: left;
	margin-right: 15px;
	padding: 5px;
}
.user-block .btn{
	margin-left: 5px;
}

.circular-friend {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

.friend-search {
	margin-bottom: 20px;
}